* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none !important;
}

button.ant-btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

/* Global */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

/* Lib */
.ant-form-item-label {
  white-space: nowrap !important;
}
